@using KUSYS_Demo.ViewModels.Home;
@model List<StudentAllViewModel>;
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

@{
    ViewData["Title"] = "StudentsAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}

<h1>Students List All</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Viewing</th>
    </tr>
    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td><button onclick="clickViewButton('@item.Id')" class="btn btn-primary"><i class="bi bi-eye-fill"></i></button></td>
        </tr>
    }
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">            
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstName" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastName" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Birth Date</label>
                        <input type="text" class="form-control" id="birthDate" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Courses</label>
                        <input type="text" class="form-control" id="courses" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" class="btn btn-success delete-confirm">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clickViewButton(IdData) {
        $.ajax({
            url: '/Home/ViewStudent',            
            data: { 'Id': IdData },
            type: 'POST',           
            success: function (data) {
                console.log(data)
                if(data != undefined){
                    debugger
                    $("#firstName").val(data.firstName);
                    $("#lastName").val(data.lastName);
                    $("#birthDate").val(data.birthDate);
                    $("#courses").val(data.selectedCourses);
                    $('#myModal').modal('show');
                }            
            },
            error: function (err) {
                console.log('error', err.status);
            }
        });
   }
</script>